@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    background-color: #1a1b1c;
}

.title {
    position: relative;
    padding: 5px 1%;
    background-color: #0f0e0e;
}

.title p1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    background-color: #0f0e0e;
}

.logo {
    background-color: #1a1b1c;
}

header {
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 1.2%;
    background-color: #1a1b1c;
}

.nav__bar {
    list-style: none;
    background-color: #1a1b1c;
}

.nav__bar li {
    display: inline-block;
    padding: 0px 20px;
    background-color: #1a1b1c;
}

.nav__bar li a {
    transition: all 0.3s ease 0s;
    background-color: #1a1b1c;
}

.nav__bar li a:hover {
    color: #0088a9;
}

header a button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.backgroundBox button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

header a button:hover {
    background-color: rgba(0,136,169,0.8);
}

.backgroundBox {
    user-select: none;
	margin: auto;
	width: 20%;
	height: 300px;
	border: 3px solid #0088a9;
    border-radius: 5px;
    background-color: #1a1b1c;
	padding: 10px;
	position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
	text-align: center;
	font: 100% Montserrat, sans-serif;
}

.backgroundBox p[id=title] {
    font: 150% Montserrat, sans-serif;
}

.backgroundBox p[id=passCode] {
    font: 115% Montserrat, sans-serif;
}

.backgroundBox p {
    background-color: #1a1b1c;
    color: #edf0f1;
}

input[type=password] {
    -webkit-appearance: none;
    border: none;
    border-bottom: 2px solid #0088a9;
    margin: 15px 0;
    font: 90% Montserrat, sans-serif;
    color: #edf0f1;
    background-color: #1a1b1c;
}